.device {
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  border: 1px solid lightgrey;
}

.device > * {
  display: flex;
  align-items: center;
}

.device button {
  padding: 0 10px;
  height: 30px;
  width: 100%;
}

.device .status {
  font-weight: 700;
}

.device .status,
.device .detail {
  justify-content: center;
}

.red-color {
  color: #fb0d1c;
}

.orange-color {
  color: #fd9826;
}

.yellow-color {
  color: #c2c012;
}

.green-color {
  color: #15951a;
}
