.header {
  background: #049fd9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 10%;
  font-family: "Montserrat";
}

.header h1 {
  color: white;
}

.header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
}
